<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <p>
    <%= form.label :chat %><br>
    <%= form.text_field :chat %>
  </p>

  <p>
    <%= form.label :messages %><br>
    <%= form.text_area :messages %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
